

# useDynLib(STARTS)



####################################################
################## IMPORTS #########################
####################################################

#***************************************************
#*************** R Basics / Linking To *************
#***************************************************

importFrom(stats, rnorm)
importFrom(utils, flush.console)
importFrom(utils, packageDescription)



#***************************************************
#********** Imports (own packages) *****************
#***************************************************

# importFrom(CDM, csink)
# importFrom(CDM, osink)


#***************************************************
#************** Imports ****************************
#***************************************************

# importFrom(coda, mcmc)




####################################################
################## EXPORTS #########################
####################################################

export(starts_cov)
export(starts_sim1dim)





################################################
################ S3 methods ####################
################################################


# S3method(summary, STARTS)
