

# useDynLib(STARTS)



####################################################
################## IMPORTS #########################
####################################################

#***************************************************
#*************** R Basics / Linking To *************
#***************************************************

importFrom(graphics, plot)
importFrom(stats, cov)
importFrom(stats, dbeta)
importFrom(stats, na.omit)
importFrom(stats, pchisq)
importFrom(stats, rnorm)
importFrom(utils, flush.console)
importFrom(utils, packageDescription)



#***************************************************
#********** Imports (own packages) *****************
#***************************************************

importFrom(CDM, csink)
importFrom(CDM, osink)
importFrom(LAM, amh)
importFrom(LAM, loglike_mvnorm)
importFrom(LAM, loglike_mvnorm_NA_pattern)
importFrom(LAM, pmle)
importFrom(LAM, suff_stat_NA_pattern)
importFrom(sirt, dimproper)
importFrom(sirt, dinvgamma2)
importFrom(sirt, sirt_summary_print_call)
importFrom(sirt, sirt_summary_print_objects)
importFrom(sirt, sirt_summary_print_package)
importFrom(sirt, sirt_summary_print_rsession)


#***************************************************
#************** Imports ****************************
#***************************************************

# importFrom(coda, mcmc)




####################################################
################## EXPORTS #########################
####################################################

export(starts_cov)
export(starts_uni_cov)
export(starts_uni_estimate)
export(starts_uni_sim)
export(starts_sim1dim)





################################################
################ S3 methods ####################
################################################


S3method(coef, starts_uni)
S3method(logLik, starts_uni)
S3method(plot, starts_uni)
S3method(summary, starts_uni)
S3method(vcov, starts_uni)